@font-face {
    font-family: "strikesans";
    src: url("fonts/KCStrikerSans.otf");
}

*{
    margin: 0;
    box-sizing: border-box;
    margin: 0;
}

h1{
    font-family: "strikesans";
    font-size: 64px;
    color: #000000;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif    ;  

}

.header{
    position: fixed;
    background-color: #d5ebff54 ;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border-bottom: 8px solid rgb(0, 0, 0);
    
}

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 1500x;
    margin: 0 auto;
}

.nav-link{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

  

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
    font-family: "strikesans";
 
}
.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
} 

.nav-menu-link{
    border-radius: 3px;
}

.nav-menu-link:hover{
    background: none;
    color: #000000;
 }

.nav-toogle{
    color: rgb(0, 0, 0);
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}

@media (max-width: 768px){
 
    .header{
       height: 60px; 
    }
    
    .nav p{
        font-size: 15px;
    }

    .nav-menu{
        flex-direction: column;
        margin-right: 20px;
        align-items: center;
        background-color: #ffffff ;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        overflow-y: auto;
        left: 100%;
        transition: left 0.5;
    }
    
    .logo{
        font-size: 25px;
        padding: 0 40px;
        line-height: 60px;
        font-family: "strikesans";
    }

    .nav-menu-item{ 
        line-height: 70px;
    } 

    .nav-menu-link:hover{
        background: none;
        color: #000000;
     }
    
    .nav-toogle{
        display: block;
    }
    
    .nav-menu_visible{
        left: 0;
    }

}

.barra{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px;
}

.visual{
    display: grid;
    grid-template-columns: 13.5% 47% 1% 28% 10.5%;
    padding: 0%;
    margin-bottom: 50px;
    place-items: center;
    margin-top: 50px;
}



.visual div:hover{
    border: 1px solid rgb(0, 0, 0);
}

.visual .titulo h1{
    font-family: "strikesans";
    font-size: 64px;
    color: #000000;
    text-align: center;
    margin: 0%;
}

.visual .contenido{
    display: grid;
    gap: 25px;
    grid-column: 100%;
}

.visual .contenido p{
    font-size: 23px;
    color: #000000;
    text-align: justify;
}

.imagen{
    align-items: center;
    text-align: center;
    vertical-align: center;
}

.imagen1{
    width: 425px;
    height: 550px;
}



@media (max-width: 1600px){
    .visual{
        grid-template-columns: 3.5% 60% 5% 28% 3.5%;
        
    }

    .imagen1{
        width: 425px;
        height: 550px;
    }

}

.visual2{
    display: grid;
    grid-template-columns: 8.25% 28% 0.3% 50% 8.25% ;  
    padding: 0%;
    margin-bottom: 50px;
    place-items: center;
}



.visual2 div:hover{
    border: 1px solid rgb(0, 0, 0);
}

.visual2 .titulo h1{
    font-family: "strikesans";
    font-size: 64px;
    color: #000000;
    text-align: center;
    margin: 0%;
}

.visual2 .contenido{
    display: grid;
    gap: 25px;
    grid-column: 100%;
}

.visual2 .contenido p{
    font-size: 23px;
    color: #000000;
    text-align: justify;
}

.imagen{
    align-items: center;
    text-align: center;
}


.imagen2{
    width: 100%;
    height: 400px;
}


@media (max-width: 1600px){
    .visual2{
        grid-template-columns: 3.8% 28% 4.4% 60% 3.8%;
        
    }

    .imagen2{
        width: 100%;
        height: 400px;
    }

}

.final h1{
    font-family: "strikesans";
    font-size: 30px;
    text-shadow: -6px -6px #222222;
    color: #fff;
}

.final p{
    font-size: 16px;
    color: #fff;
}


.final div{
    background: #222222;
    padding: 1em;
}

.final .columnas{
    display: grid;
    grid-template-columns: repeat(3,33%);
    grid-template-rows: repeat(4,75px);
    text-align: center; 
}

@media (max-width: 1020px){

    .final h1{
        font-size: 25px;  
    }
    
    .final p{
        font-size: 15px;
        color: #fff;
    }
}

